<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="MIU1411_Curry_Michael_UlitityApp2"/>
<stringAttribute key="device_id" value="4257C94F-52B6-41C0-9836-1695A08FCB3C"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MIU1411_Curry_Michael_UlitityApp2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.1"/>
<stringAttribute key="simulator_version" value="8.1"/>
</launchConfiguration>
